#root {
  width: 100%;
  margin: 0 auto;
}

.App {
  width: 100%;
}

/* Custom Maroon Button Styles if you want to use them elsewhere */
.btn-maroon {
  background-color: #941414;
  color: rgb(154, 26, 26);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-maroon:hover {
  background-color: #5a0000;
}