body{
  font-family: Arial;
  background:#F5F5F5;
}

.container{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  width:100vw;
}

.login-box{
  background:white;
  padding:40px;
  width:350px;
  border-radius:10px;
  text-align:center;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.avatar img{
  width:100px;
  height:100px;
  margin-top:-70px;
  background:white;
  border-radius:50%;
  padding:10px;
}

h2{
  color:#19578D;
  font-size:30px;
  font-family:sans-serif;
  text-align: center;
}

h1{
  margin:5px;
  font-family:Katibeh;
  font-size:50px;
  color:#224A8A;
}

form{
  text-align:left;
}

label{
  display:block;
  margin-top:15px;
  font-size: 15px;
  font-family: 'Adamina';
}

input{
  width:100%;
  padding:10px;
  margin-top:5px;
  border-radius:5px;
  border:1px solid #ccc;
}

.password-row span{
  font-size:12px;
  color:#0088FF;
  float:right;
  margin-top:5px;
}

button{
  width:100%;
  padding:10px;
  margin-top:20px;
  background:#3b82f6;
  color:white;
  border:none;
  border-radius:5px;
}

.signup{
  text-align:center;
  margin-top:10px;
}

p{
    color:#444444;
    
}