.products-container{
background:rgba(255, 255, 255, 0.5);
padding:25px;
border-radius:10px;
box-shadow:0 8px 20px rgba(0,0,0,0.6);
width:100%;
height:100vh;
border:1px solid rgba(220, 172, 172, 0.25);
color:white;
display:flex;
flex-direction:column;
overflow-y:auto;
overflow-x:hidden;
box-sizing:border-box;
}

.search{
width:100%;
padding:12px;
margin-bottom:20px;
border:1px solid rgba(255,255,255,0.3);
border-radius:6px;
background:transparent;
color:white;
font-size:15px;
}

.product-form{
display:flex;
flex-wrap:wrap;
gap:10px;
margin-bottom:20px;
align-items:center;
}

.product-form input{
padding:12px;
border:1px solid rgba(255,255,255,0.3);
border-radius:6px;
background:transparent;
color:white;
font-size:15px;
min-width:120px;
flex:1 1 150px;
}

.product-form button{
padding:13px 15px;
background:linear-gradient(90deg,#ff5a2f,#d72800);
color:white;
border:none;
border-radius:6px;
cursor:pointer;
font-size:16px;
font-weight:600;
flex:1 1 100px;
min-width:100px;
}

table{
width:100%;
border-collapse:collapse;
background:rgba(0,0,0,0.55);
border-radius:6px;
border:1px solid rgba(220, 172, 172, 0.25);
overflow:auto;
table-layout:fixed;
}

tr{
height:50px;
}

th,td{
padding:6px 8px;
border:1px solid rgba(255,255,255,0.3);
text-align:center;
color:white;
font-size:14px;
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;
max-width:120px;
}

th{
background:rgba(243, 197, 108, 0.2);
color:#f3c56c;
font-weight:600;
}

.edit-btn{
background:#ffc107;
border:none;
padding:6px 10px;
margin-right:5px;
border-radius:5px;
cursor:pointer;
font-size:14px;
color:#333;
font-weight:600;
}

.delete-btn{
background:#dc3545;
color:white;
border:none;
padding:6px 10px;
border-radius:5px;
cursor:pointer;
font-size:14px;
font-weight:600;
}